.news {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: auto;
  width: auto;
  height: auto;
}
.news{
    width: 350px;
    background-color: rgb(255, 255, 255);
    padding: auto;
    margin: auto;
    display: inline-block;    
}
.news h1 {
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.news img {
  border-radius: 8px;
  display: block;
  margin: auto;
  width: 50%;
}
.parent{
    margin: auto;
    width: fit-content;
}
.news2 {
  border-radius: 25px;
  border: 2px solid #000000;
  padding: auto;
  width: auto;
  height: auto;
}
.news2{
    width: 350px;
    background-color: rgb(255, 255, 255);
    padding: auto;
    margin: auto;
    display: inline-block;    
}
.news2 h1 {
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.news2 img {
  border-radius: 8px;
  display: block;
  margin: auto;
  width: 50%;
}
.news2 h2{text-align: center;}
.news2 h3{
  display: inline;
  padding: auto;
  margin: auto;
  color: red;
}
.news2 h4{
  text-align: right;
}
.parent2{
    margin: auto;
    width: fit-content;
}
.save {
      background-color:lightblue;
      padding: 0px
      height: 10px;
      width: 150px;
      border-radius: 0 8px 8px 0;
      position: relative;
    }